body,html{width: 100%;height: 100%;overflow: hidden;}
.container{width: 100%;height: 100%;padding-bottom: 50px;background: url("/shixiya/omg/images/menu/menu-bg.png") no-repeat 0 0/700% 100%}
.container-bg{position: absolute;top: 45%;z-index:0;width: 100%;height: 40%;background-color: #adafb1;}
.container-slide{position: relative;z-index:1;height: 90%;}
.swiper-container{height: 100%}
.menu1{position: relative;z-index: 102;width: 10vh;height: 10vh;margin: 17vh auto;padding: 2px;border-radius: 10vh;border: 2px solid #ffffff;background-color: #636668;}
.menu1>img{width: 100%;height: 100%}
.swiper-slide-active .menu1{
    animation-name:float;
    animation-duration:0.3s;
    animation-timing-function:linear;
    animation-fill-mode : forwards;
    animation-play-state:running;
    /* Safari and Chrome: */
    -webkit-animation-name:float;
    -webkit-animation-duration:0.3s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode : forwards;
    -webkit-animation-play-state:running;
}
@keyframes float {
    0%{transform: scale(1,1);}
    100%{transform: scale(3.3,3.3);}
}
@-webkit-keyframes float {
    0%{transform: scale(1,1);}
    100%{transform: scale(3.3,3.3);}
}
.menu1>img{width: 100%;height: 100%}
.line-box{position:absolute;display: none;z-index: 100;top: 0;left: 0;width: 180%;height: 52%;margin-left: -40%}
.swiper-slide-active .line-box{display: block}
.hx{position: absolute;top: 50%;width: 100%;height: 3px;background: #ffffff}
.hx2{position: absolute;top: 50%;right: 0;width: 50%;height: 3px;background: #ffffff}
.hx3{position: absolute;top: 50%;left: 0;width: 50%;height: 3px;background: #ffffff}
.sx{position: absolute;left: 49.4%;bottom: 0;width: 4px;height: 50%;background: #ffffff}
.rec{position: absolute;left: 47.5%;bottom: 0;width: 4vw;height: 4vw;border-radius: 100%;background: #ffffff}
.introduction{position: absolute;top: 54%;display: none;width: 100%;height: 42%;text-align: center;}
.swiper-slide-active>.introduction{display: block}
.menu-title{line-height: 34px;font-size: 20px}
.menu-detail{position: absolute;width: 166%;margin-left: -33%;text-align: left;font-size: 14px;line-height: 18px;word-break: break-all;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 4;}
.menu-more{position: absolute;bottom: 15%;left: 20%;width: 60%;line-height: 30px;border-radius: 25%;background-color: #054d88;color: #ffffff}
.swiper-container-horizontal>.swiper-pagination-progress{top: 94%!important;background: #ffffff}
.line-dot{width: 168%;margin-left: -34%;margin-bottom: 10px}