@CHARSET "UTF-8";
body,html {
	width: 100%;
	height: 100%;
	background-color: #e8e8e8
}

table {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 95px
}

table tr {
	width: 100%;
	display: block;
	background-color: snow;
	box-shadow: 2px 2px 4px #9f9f9f;
	margin-bottom: 20px
}

table td {
	padding: 5px
}

table td:first-child {
	width: 10%
}

table td:last-child {
	width: 90%;
	position: relative
}

.img-show {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	overflow: hidden;
	background-color: #c3c4c4;
	margin: 0 auto;
	float: none
}

.txt-show {
	float: left;
	width: 71%;
	height: 65px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.s-title {
	color: #3879D9;
	font-weight: bold
}

.xs-title {
	font-size: 0.7em;
	margin: 7px 0 4px 0;
	line-height: 1.3em
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

.txt-n {
	line-height: 1.3em;
	font-size: 0.7em;
	letter-spacing: 0.08em;
	margin-top: 1px;
	color: #808080;
}

input[type="submit"] {
	position: absolute;
	bottom: 60px;
	left: 20%;
	width: 60%;
	background-color: #3879D9;
	display: block;
	font-size: 18px;
	line-height: 35px;
	border-radius: 5px;
	color: #ffffff
}

.nickname {
	font-size: 0.7em;
}

.img {
	width: 26%;
	word-wrap: break-word;
	float: right;
	margin-right: 1%;
	text-align: center
}

.dn {
	position: absolute;
	bottom: -16px;
	right: 25%;
	height: 20px;
	width: 20px
}