@CHARSET "UTF-8";
* {
	padding: 0;
	margin: 0;
	line-height: 1.6;
	letter-spacing: 0.05em;
}

.header {
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid #c9c9c9;
	font-weight: 800;
	font-family: 微软雅黑;
	letter-spacing: 0.1em;
	background-color: #3879D9;
	color: #ffffff;
}

.main>h4 {
	line-height: 30px;
	padding-left: 20px;
}

.main>table {
	border-collapse: collapse;
	margin: 8px auto;
}

table td {
	border: 1px solid gray;
	width: 50%;
	padding: 3px
}